form.sign__up .MuiInputBase-input, form.sign__in .MuiInputBase-input {
    margin-top: 20px;
}
.sign__up button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedSecondary,
.sign__in button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedSecondary {
    margin-top: 40px;
}
form.sign__up, form.sign__in {
    position: absolute;
    top: 15%;
    right: 0;
    left: 0;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 90px;
}
span.material-icons.MuiIcon-root.back {
    position: absolute;
    bottom: 30px;
    left: 30px;
    font-size: 70px;
    color: #dc3545;
}
button.swal2-confirm.swal2-styled {
    background-color: #dc3545;
}
.card {
    position: absolute;
    top: 15%;
    right: 0;
    left: 0;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}
h3.MuiTypography-root.card-title.MuiTypography-h5.MuiTypography-gutterBottom {
    margin-bottom: 20px;
}
